table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.customer__footer {
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
  flex-wrap: wrap;
  padding: 20px;


  &__select-wrap {
    margin-right: 10px;
  }
}
