<div class="changing-form mat-elevation-z8">
  <h2 class="changing-form__title">{{ 'addCustomer.title' | translate }}</h2>
  <mat-form-field>
    <input matInput [(ngModel)]="newCustomer.name" placeholder="Customer name">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="newCustomer.walletEth" placeholder="Enter ETH wallet">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="newCustomer.walletBtc" placeholder="Enter BTC wallet">
  </mat-form-field>


  <div class="changing-form__button-group">
    <button (click)="createCustomer()" mat-raised-button color="primary">{{ 'addCustomer.add' | translate }}</button>
    <button routerLink="/customers" mat-raised-button color="warn">{{ 'addCustomer.cancel' | translate }}</button>
  </div>
</div>


