<section class="signup">
  <h2>
  Sign Up
  </h2>

  <mat-form-field class="half-width">
    <input matInput [(ngModel)]="newUser.firstName" #firstName="ngModel" placeholder="First Name"
    pattern="[a-zA-Zа-яА-Я]+" maxlength="255" required>
    <mat-error *ngIf="firstName.hasError('required')">Field must not be empty!</mat-error>
    <mat-error *ngIf="firstName.hasError('pattern')">Only alphabets allowed!</mat-error>
  </mat-form-field>

  <mat-form-field class="half-width">
    <input matInput [(ngModel)]="newUser.lastName" #lastName="ngModel" placeholder="Last Name"
    pattern="[a-zA-Zа-яА-Я]+" maxlength="255" required>
    <mat-error *ngIf="lastName.hasError('required')">Field must not be empty!</mat-error>
    <mat-error *ngIf="lastName.hasError('pattern')">Only alphabets allowed!</mat-error>
  </mat-form-field>

  <mat-form-field class="full-width" hintLabel="Should be at least 7 characters long">
    <input matInput [(ngModel)]="newUser.email" #email="ngModel" autocomplete="false" placeholder="Email"
    type="email" required minlength="7" maxlength="255" pattern="[a-z0-9A-Z_.-]+@[a-zA-Z_.-]+?\.[a-zA-Z]{2,6}">
    <mat-hint align="end">{{email?.value?.length}}/7</mat-hint>
    <mat-error *ngIf="email.hasError('required')">Field must not be empty!</mat-error>
    <mat-error *ngIf="email.hasError('pattern')">Email format should be <b>joe@abc.com</b></mat-error>
    <mat-error *ngIf="email.hasError('minlength')">Has to be at least 7 characters</mat-error>
  </mat-form-field>

  <mat-form-field class="full-width" hintLabel="Password should contain at least one uppercase/lowercase letters, one number and one special char">
    <input class="sign-up__password" matInput [(ngModel)]="password" #passwordInput="ngModel" autocomplete="new-password"
    type="password" placeholder="Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$" maxlength="50" required>
    <mat-hint align="end">{{passwordInput?.value?.length}}/6</mat-hint>
    <mat-error *ngIf="passwordInput.hasError('required')">Field must not be empty!</mat-error>
    <mat-error *ngIf="passwordInput.hasError('pattern')">Password must contain at least one uppercase/lowercase letters, one number and one special char</mat-error>
  </mat-form-field>

  <button class="submit" [disabled]="firstName.invalid || lastName.invalid || email.invalid || passwordInput.invalid" (click)="doSignUp()" color="primary" mat-raised-button>Sign Up</button>
</section>
