<mat-toolbar color="primary">
  <div>
    <button class="toggle" mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">LoftChain API</a></div>
  <ul class="nav__list">
    <li *ngIf="!loggedIn()" class="nav__item"><a routerLink="/signup" routerLinkActive="nav__item--active">Signup</a></li>
    <li *ngIf="!loggedIn()" class="nav__item"><a routerLink="/login" routerLinkActive="nav__item--active">Login</a></li>
    <li *ngIf="loggedIn()" class="nav__item"><a routerLink="/customers" routerLinkActive="nav__item--active">Customers</a></li>
    <li *ngIf="loggedIn()" class="nav__item"><a routerLink="/transactions" routerLinkActive="nav__item--active">Transactions</a></li>
    <li *ngIf="loggedIn()" class="nav__item"><a routerLink="/currencies" routerLinkActive="nav__item--active">Currencies</a></li>
    <li *ngIf="loggedIn()" class="nav__item"><a class="logout" (click)="onLogout()">Logout</a></li>
  </ul>
</mat-toolbar>
