<div class="changing-form mat-elevation-z8">
  <h2 class="changing-form__title">{{ 'editTx.title' | translate }}</h2>

  <mat-form-field>
    <mat-select [(ngModel)]="transaction.currency" placeholder="Currency">
      <mat-option *ngFor="let currency of currencies" [value]="currency.value">
        {{currency.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="transaction.txId" placeholder="Transaction_ID">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="transaction.from" placeholder="From">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="transaction.amount" placeholder="Amount">
  </mat-form-field>

  <mat-form-field>
    <input [(ngModel)]="transaction.date" matInput [matDatepicker]="pickerUpdate" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="pickerUpdate"></mat-datepicker-toggle>
    <mat-datepicker touchUi #pickerUpdate></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-select [(ngModel)]="transaction.status" placeholder="Status">
      <mat-option *ngFor="let status of statuses" [value]="status.value">
        {{status.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="changing-form__button-group">
    <button (click)="updateTransaction()" mat-raised-button color="primary">{{ 'editTx.save' | translate }}</button>
    <button routerLink="/transactions" mat-raised-button color="warn">{{ 'editTx.cancel' | translate }}</button>
  </div>
</div>
