<mat-nav-list>
  <a *ngIf="!loggedIn()" mat-list-item routerLink="/signup" routerLinkActive="nav__link--active" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav__caption">Signup</span>
  </a>
  <a *ngIf="!loggedIn()" mat-list-item routerLink="/login" routerLinkActive="nav__link--active" (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span class="nav__caption">Login</span>
  </a>
  <a *ngIf="loggedIn()" mat-list-item routerLink="/customers" routerLinkActive="nav__link--active" (click)="onClose()">
    <mat-icon>account_circle</mat-icon>
    <span class="nav__caption">Customers</span>
  </a>
  <a *ngIf="loggedIn()" mat-list-item routerLink="/transactions" routerLinkActive="nav__link--active" (click)="onClose()">
    <mat-icon>assignment</mat-icon>
    <span class="nav__caption">Transactions</span>
  </a>
  <a *ngIf="loggedIn()" mat-list-item routerLink="/currencies" routerLinkActive="nav__link--active" (click)="onClose()">
    <mat-icon>attach_money</mat-icon>
    <span class="nav__caption">Currencies</span>
  </a>
  <mat-list-item *ngIf="loggedIn()">
    <button mat-icon-button (click)="onLogout()">
      <mat-icon>eject</mat-icon>
      <span class="nav__caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
