<div class="mat-elevation-z8">
  <div class="spinner" *ngIf="isLoading; else elseBlock">
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #elseBlock>
    <table mat-table [dataSource]="filteredTransactions" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let transaction">
        {{transaction.id}}
      </td>
    </ng-container>

    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef>{{ 'transactions.customerId' | translate }} /<br>{{ 'transactions.customerName' | translate }}</th>
      <td mat-cell *matCellDef="let transaction">{{transaction?.customer?.id}} / {{transaction?.customer?.name}}</td>
    </ng-container>

    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'transactions.currency' | translate }}</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.currency}}</td>
    </ng-container>

    <ng-container matColumnDef="txId">
      <th mat-header-cell *matHeaderCellDef>txId</th>
      <td mat-cell *matCellDef="let transaction">
        <a *ngIf="transaction.currency === 'ETH'" [href]="'https://etherscan.io/tx/' + transaction.txId" target="_blank">
          etherscan.io
        </a>
        <a *ngIf="transaction.currency === 'BTC'" [href]="'https://www.blockchain.com/btc/tx/' + transaction.txId" target="_blank">
          blockchain.info
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="from">
      <th mat-header-cell *matHeaderCellDef>{{ 'transactions.from' | translate }}</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.from}}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>{{ 'transactions.amount' | translate }}</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.amount}}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'transactions.date' | translate }}</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.date | date:'medium'}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'transactions.status' | translate }}</th>
      <td mat-cell *matCellDef="let transaction" [style.color]="transaction.status === 'true' ? 'forestgreen' : 'tomato'">{{transaction.status}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-icon-button routerLink="create" color="primary">
          <mat-icon>person_add</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let transaction">
        <button mat-icon-button routerLink="edit/{{transaction.id}}">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="sendItem(transaction, 'transactions', 'transactions')" routerLink="delete" mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay">
    </tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay">
    </tr>

  </table>
  <div class="transaction__footer">
    <div class="transaction-footer__select-wrap">
      <mat-form-field>
        <mat-select placeholder="Filter by currency" [(ngModel)]="filteredCurrency">
          <mat-option (click)="paginateArrows()" [value]="null">All</mat-option>
          <mat-option (click)="paginateArrows()" *ngFor="let pair of currencyPairs" [value]="pair.value">{{pair.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="transaction-footer__select-wrap">

      <mat-form-field>
        <mat-select placeholder="Filter by status" [(ngModel)]="filteredStatus">
          <mat-option (click)="paginateArrows()" [value]="null">All</mat-option>
          <mat-option (click)="paginateArrows()" *ngFor="let pair of statusPairs" [value]="pair.value">
            {{pair.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="transaction-footer__select-wrap">
      <mat-form-field>
        <input matInput (keyup)="paginateArrows()" [(ngModel)]="filteredName" placeholder="Filter by name">
      </mat-form-field>
    </div>
  </div>

  <div class="transaction__paginator">
    <mat-form-field class="transaction__paginator-select">
      <mat-select placeholder="Page size" [(ngModel)]="selectedSize" [value]="selectedSize">
        <mat-option [value]="10" (click)="paginateArrows()">10</mat-option>
        <mat-option [value]="20" (click)="paginateArrows()">20</mat-option>
        <mat-option [value]="30" (click)="paginateArrows()">30</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-icon-button (click)="paginateArrows('prev')" [disabled]="!currentPage"><mat-icon>arrow_back</mat-icon></button>
    <button mat-icon-button (click)="paginateArrows('next')" [disabled]="disableNext"><mat-icon>arrow_forward</mat-icon></button>

    <div>
      {{ (currentPage + 1) + '-' + (selectedSize + currentPage > transactionsCount ? transactionsCount : selectedSize + currentPage) + ' of ' + transactionsCount }}
    </div>
  </div>
  </ng-template>
</div>
