<div class="changing-form mat-elevation-z8">
  <h2 class="changing-form__title">{{ 'editCustomer.title' | translate }}</h2>
  <mat-form-field>
    <input matInput [(ngModel)]="customer.name" placeholder="Customer name">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="customer.walletEth" placeholder="Edit your ETH wallet">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="customer.walletBtc" placeholder="Edit your BTC wallet">
  </mat-form-field>


  <div class="changing-form__button-group">
    <button (click)="updateCustomer()" mat-raised-button color="primary">{{ 'editCustomer.save' | translate }}</button>
    <button routerLink="/customers" mat-raised-button color="warn">{{ 'editCustomer.cancel' | translate }}</button>
  </div>
</div>


